[workspace]

name = "napari-assistant"
channels = ["conda-forge"]
platforms = ["win-64", "osx-arm64"]

[dependencies]
python = "3.10.*"

napari = "0.6.*"
napari-assistant = "0.6.*"

# scikit-image processing
scikit-image = "*"
numpy = "*"
scipy = "*"

# assistant-compatible segmentation tools
napari-segment-blobs-and-things-with-membranes = "*"

# regionprops (measurement)
napari-skimage-regionprops = "*"

# GUI backend
pyqt = "*"
qtpy = "*"
magicgui = "*"

[tasks]
assistant = "naparia"
napari = "python -m napari"
reset = "napari --reset"
download-data = "curl -L https://zenodo.org/records/17986091/files/MAX_Lund.tif --output data/MAX_Lund.tif --create-dirs"
